$primary: #e67e22; 
$secondary: #f39c12;

$font-color: #2c3e50;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'bootstrap/scss/bootstrap';

/* Global Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    list-style-type: none;
  }
  
  html {
    font-size: 16px;
    background-color: #f5f5f5;
  }
  
  html,
  body {
    font-family: 'Roboto', 'Arial', sans-serif;
    scroll-behavior: smooth;
    color: $font-color;
  }

  img {
    object-fit: cover;
  }

  /*Other global styles like font and className that is used over the app*/

  .background {
    background-image: url('../assets/images/background.jpg');
  }